@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
	background: #2B303B;
	color: #98dafc;
	font-family: Lato;
}

#survey {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
}

#instructions { 
	width: 420px;
	margin: 0 auto;
	text-align: center;
}

#answers, #checkBoxes {
	display: inline-block;
}

.answer {
	display: inline-block;
}

.checkbox {
	display: inline-block;
	font-family: monospace;
	font-size: 2em;
	border: 2px solid #98dafc;
	padding: 1px 8px 3px 8px;
	margin: 7px 10px 8px 0px;
}

h1 {
	text-align: center;
	margin: 10px 0;
	font-weight: 900;
	font-size: 3em;
}

h2 {
	font-weight: 400;
	margin-bottom: 5px;
}

h3 {
	margin: 10px;
	font-size: 1.5em;
}

h4 {
	font-weight: 400;
	margin-top: -20px;
	font-size: 1.2em;
	display: inline-block;
}

.bar {
	position: relative;
	left: 0;
	display: inline-block;
	width: 7px;
	height: 20px;
	margin: 0px 0px -3px 4px;
	background: #98dafc;
}

.bar_wrapper {
	position: relative;
	left: -50px;
	display: inline-block;
}

.result {
	display: inline-block;
}