html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#main, .container, .row {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#error {
	color: #f44336;
}

.login_content {
	margin: 0 !important;
}

.center-btn {
	text-align: center;
}

.btn {
	width: 47%;
}

.login {
	position: relative;
	top: 45%;
	left: 50% !important;
	transform: translate(-50%, -50%);
}