html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#main, .container, .row {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#error {
	color: #f44336;
}

.card_content {
	margin: 0 !important;
}

.center-btn {
	text-align: center;
}

.btn {
	width: 95%;
}

#back-to-login {
  font-size: 0.8em;
  text-align: center;
  margin: -5px 0px 8px 0px;
  color: #333;
}

.center-content {
	position: relative;
	top: 45%;
	left: 50% !important;
	transform: translate(-50%, -50%);
}